<html>
  <head>
  <title>
    My Rack App
  </title>
  <body>
    <h1> Welcome </h1>
    <h2> Resource </h2>
    <ul>
      <li>
        <a href="/todos">TODOS</a>
      </li>
    </ul>
    </body>
  </head>
</html>