<html>
  <head>
    <%= render_partial "base/_head.html.erb" %>
  </head>
  <body>
    <div>
      <h1><%= @title %></h1>
      <form action="/todos" method="POST">
      </form>
    </div>
  </body>
</html>