<html>
  <head>
    <%= render_partial "base/_head.html.erb" %>
  </head>
  <body>
    <div>
      <h1><%= @title %></h1>
      <form action="/todos" method="POST">
        <label for="todo_name">Name</label>
        <input name="todo[name]" id="todo_name" />
        <br />
        <input type="submit" name="commit" value="create" />
      </form>
    </div>
  </body>
</html>